.wsf_hide{
    display: none !important;
}

.wsf_display_block{
    display: block !important;
}

.wsf_display_flex{
    display: flex !important;
}

#wsf_main .button{
    display: flex;
    align-items: center;
    width: fit-content;
}

#wsf_main .wsf_address_row.postbox{
    width: fit-content;
}

#wsf_main .button .dashicons{
    margin-right: 5px;
}

#wsf_table_load{
    opacity: 0.5;
    pointer-events: none;
}

#wsf_main .wsf_input_box input,
#wsf_main .wsf_input_box select{
    box-sizing: border-box;
}

#wsf_main .wsf_input_box label{
    display: none;
}

#wsf_main #wsf_address_container .wsf_input_box input,
#wsf_main #wsf_address_container .wsf_input_box select{
    width: 100%;
}

#wsf_main #wsf_search_box {
    display: flex;
    gap: 5px;
    margin: 1rem 0;
    justify-content: flex-start;
}

.wsf_error_message{
    display: flex;
    color: #d63638;
    margin-top: 5px;
    font-weight: 500;
    gap: 5px;
}

.wsf_error_message .dashicons{
    font-size: 16px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

/* Der Button-Container während des Ladens */
.wsf_btn_loading {
    position: relative;
    color: transparent !important; /* Versteckt den Text */
    pointer-events: none;      /* Verhindert Doppelklicks */
    color: transparent !important;
}
/* Der Spinner selbst */
.wsf_btn_spinner {
    position: absolute;
    top: 50%;
    left: 50%;

    /* Hier KEIN !important verwenden */
    transform: translate(-50%, -50%);

    width: 18px;
    height: 18px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;

    /* Die Animation steuert nun das transform */
    animation: wsf_rotate_spinner 0.8s linear infinite;
    display: block;
}

.wsf_btn_spinner_wrap{
    display: inline-block;
    width: fit-content;
    position: relative;
}

@keyframes wsf_rotate_spinner {
    /* Wir müssen translate IMMER mitgeben, damit er zentriert bleibt während er rotiert */
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}